# Database - SQL Server
DB_DRIVER=ODBC Driver 17 for SQL Server
DB_HOST=localhost
DB_PORT=1433
DB_NAME=spa_db
DB_USER=sa
DB_PASSWORD=YourStrong!Passw0rd

# JWT
JWT_SECRET_KEY=your-super-secret-key-change-in-production
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7

# CORS
CORS_ORIGINS=http://localhost:3000,http://localhost:5173,http://127.0.0.1:3000,http://127.0.0.1:5173

# App
APP_NAME=NhĂ  Spa Management System
APP_VERSION=1.0.0
APP_DEBUG=true
# VNPAY (TEST)
VNPAY_TMN_CODE=Z2DJP1I1
VNPAY_HASH_SECRET=E8G33TSDTLR581YJ8BAW52691Y26R0R5
VNPAY_PAYMENT_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://localhost:3000/receptionist/hoa-don
VNPAY_EXPIRE_MINUTES=30
